* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.hidden {
  display: none !important;
}

body {
  overflow-x: hidden;
  color: #333;
  font-size: 16px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.mainContainer {
  width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.mainHeader {
  background: rgba(0,0,0,.9);
  padding: 0px 0;
  box-shadow: 0 2px 8px 1px rgba(0,0,0,0.7);
  position: absolute;
  width: 100%;
  z-index: 999;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: block;
  background: url("../public/img/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 170px;
  height: 54px;
}

.mainMenu {
  list-style: none;
  display: flex;
  & > li {
    position: relative;
    & > a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 18px 36px;
      transition: .2s;
      position: relative;
      &.isActive {
        color: $secondaryColor;
      }

      .fa {
        margin-left: 5px;
      }
    }
    &:hover {
      .innerMenu {
        max-height: 300px;
        transition: .5s;
        opacity: 1;
      }
      &>a {
        background: rgba(0,0,0,.7);
        color: $mainColor;
        &.isActive {
          color: $secondaryColor;
        }
      }
    }
    &:last-child {
      .innerMenu {
        left: auto;
        right: 0;
      }
    }
  }
  .innerMenu {
    position: absolute;
    list-style: none;
    background: rgba(0,0,0,.7);
    width: 220px;
    max-height: 0;
    overflow: hidden;
    opacity: .5;
    left: 0;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
    z-index: 1000;
    li {
      &:first-child {
        a {
          border-top: 1px solid #333;
        }
      }
      a {
        border-left: 1px solid #333;
        border-right: 1px solid #333;
        border-bottom: 1px solid #333;
        display: block;
        padding: 12px 32px;
        color: #e6e6e6;
        font-size: 12px;
        text-decoration: none;
        transition: .1s;
        &:hover {
          background: rgba(0,0,0,.7);
          color: $mainColor;
        }
      }
    }
  }
}

.mainCarousel {
  .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.65);
      z-index: 1;
    }
    &:first-child {
      background-image: url("../public/img/sl1.jpg");
    }
    &:nth-child(2) {
      background-image: url("../public/img/sl2.jpg");
    }
    .content {
      position: relative;
      z-index: 5;
      width: 100%;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .caption {
      text-align: center;
      color: #fff;
      h1 {
        font-size: 52px;
        margin-bottom: 15px;
      }
      p {
        opacity: .9;
        font-size: 36px;
        margin-bottom: 60px;
      }
    }
  }
}

.btnPrimary {
  display: inline-block;
  padding: 12px 36px;
  background: $mainColor;
  color: #fff;
  border: 1px solid $mainColor;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  transition: .2s;
  white-space: nowrap;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #fff;
    background: darken($mainColor, 3%);
    border: 1px solid darken($mainColor, 3%);
  }
}

.pageHolder {
  padding: 120px 0;
}

.blockHeading {
  font-size: 42px;
  text-align: center;
  color: #343434;
  position: relative;
  padding-bottom: 20px;
  font-weight: 300;
  margin-bottom: 90px;
  &:before {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background: $mainColor;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &.re {
    color: #fff;
    &:before {
      background: #fff;
    }
  }
}

.subHeading {
  color: #343434;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 45px;
  text-align: center;
}

.textHolder {
  margin-bottom: 30px;
  p {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }
  .btnHolder {
    text-align: center;
    padding: 15px 0 30px;
  }
}

.centeredList {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
  li {
    text-align: center;
    margin-bottom: 10px;
  }
}

.textListHolder {
  display: flex;
  margin: 0 -15px;
  .item {
    width: 50%;
    padding: 0 30px;
    margin-bottom: 30px;
  }
  .listHeading {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .textList {
    padding-left: 30px;
    margin-bottom: 60px;
  }
  li {
    font-weight: 300;
    margin-bottom: 5px;
  }
  .linkHolder {
    a {
      color: $mainColor;
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: .2s;
      .fa {
        margin-left: 10px;
      }
      &:hover,
      &:active,
      &:focus {
        color: darken($mainColor, 5%);
      }
    }
  }
}

.pageMainText {
  color: #666;

}

.pageDivider {
  background: url("../public/img/dvdr.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 90px 0;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }
  .caption {
    color: #fff;
    font-weight: 300;
    margin-right: 30px;
    .heading {
      font-size: 36px;
    }
    .text {
      font-size: 18px;
    }
  }
  .formHolder {
    .content {
      display: flex;
      align-items: center;
    }
    .form-control {
      background: rgba(255,255,255,.4);
      border-radius: 0;
      border: 2px solid #fff;
      //border-right: 0;
      font-size: 18px;
      padding: 11px;
      height: auto;
      color: #fff;
      width: 320px;
      margin-right: 15px;
    }
  }
}

.coloredLine {
  background: linear-gradient(to right, rgba(121,150,159,1) 0%, rgba(234,250,253,1) 100%);
  color: #fff;
  .textListHolder {
    li {
      margin-bottom: 10px;
    }
  }
}

.footer {
  background: #222;
  color: #fff;
  .copyrightRow {
    background: #000;
    padding: 15px 0;
    .copyright {
      opacity: .8;
      font-weight: 300;
      font-size: 14px;
    }
  }
  .wrapper {
    display: flex;
  }
  .aboutUsHolder {
    width: 400px;
    font-weight: 300;
    font-size: 14px;
    a {
      color: $mainColor;
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: .2s;
      .fa {
        margin-left: 10px;
      }
      &:hover,
      &:active,
      &:focus {
        color: darken($mainColor, 5%);
      }
    }
  }
}

.gamesLogosHolder {
  display: flex;
  .logoHolder {
    width: 33.333%;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &:nth-child(1) {
      background-image: url("../public/img/ll.png");
    }
    &:nth-child(2) {
      margin-top: 80px;
      background-image: url("../public/img/csgo.png");
    }
    &:nth-child(3) {
      background-image: url("../public/img/hs.png");
    }
  }
}

.tournamentsTablesHolder {
  display: flex;
  justify-content: center;
  .content {
    padding: 0 30px;
    width: 50%;
  }
  .title {
    text-align: center;
    text-transform: uppercase;
    color: $secondaryColor;
    font-size: 28px;
    margin-bottom: 5px;
  }
  .subTitle {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
  }
  table {
    width: 100%;
    td {
      font-size: 14px;
      color: #2d2d2d;
      padding: 10px 20px;
      border: 1px solid #e6e6e6;
      background: #fcfcfc;
    }
    tr {
      &:nth-child(odd) {
        td {
          background: #f6f6f6;
        }
      }
      td:first-child {
        border-left: 0;
      }
      td:last-child {
        border-right: 0;
      }
    }
  }
}

.featuresHolder {
  .figuresList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: -15px;
    li {
      width: 25%;
      padding: 15px;
      text-align: center;
      font-size: 18px;
      margin-bottom: 15px;
    }
    .icoHolder {
      color: $secondaryColor;
      font-size: 48px;
    }
  }
}

.feedBackFormHolder {
  .content {
    width: 600px;
    margin: auto;
  }
  label {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .form-control {
    border-radius: 0;
    font-size: 18px;
    resize: none;
    padding: 12px;
    height: auto;
    border: 0;
    background: rgba(0,0,0,.1);
  }
  .inputHolder {
    margin-bottom: 20px;
  }
  .btnHolder {
    text-align: right;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}










